body {
  font-size: 16px;
  font-family: "Merriweather",Arial,sans-serif;
  line-height: 1.5em;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #053c55;
  color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  padding: 1rem;
  grid-template-columns: 200px 1fr;
}

main {
  padding: 0.5rem;
}

footer {
  grid-template-columns: 70% 1fr;
  padding-left: 1rem;
}

picture {
  object-fit: scale-down;
}

h1 {
  color: #053c55;
  font-size: 2.2rem;
  line-height: 2em;
}

h2 {
  color: #053c55;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #053c55;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  color: #226cb1;
}

/* Class Selectors */
.page {
  max-width: 960px;
  margin: 0;
}
.logo {
  width: 200px;
  height: auto;
}

.shadow-img {
  border-radius: 8px;
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,.2);
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #053c55;
}

.main-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #226cb1;
}
.social {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
