body {
  font-size: 16px;
  font-family: "Merriweather", Arial, sans-serif;
  line-height: 1.5em;
  background-color: lightgray;
  color: #000000;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

header,
footer {
  background-color: #053c55;
  color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: center;
}

header {
  grid-template-columns: 200px 1fr 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "banner banner banner"
    "home-section1 home-section1 home-section1-pic"
    "home-section2-pic home-section2 home-section2"
    "home-section3 home-section3 home-section3";
  padding: 0.5rem;
}

footer {
  grid-template-columns: 70% 1fr;
  padding-left: 1rem;
}

h1 {
  color: #ffffff;
  font-size: 2.2rem;
  line-height: 2em;
  font-weight: 900;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.438);
}

h2 {
  color: #053c55;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #053c55;
  border-top: 1px solid #053c55;
  padding: 1rem;
  background: linear-gradient(#fff, lightgray, lightgray);
}

img {
  width: 100%;
}

/* Class Selectors */
.page {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.logo {
  width: 200px;
  height: auto;
}

.main-menu,
.social-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.main-menu {
  border-bottom: 2px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: linear-gradient(#226cb1, #053c55);
}

.main-menu li a,
.social-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.main-menu li a:hover {
  background-color: #226cb1;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.banner {
  width: 100%;
  position: relative;
  grid-area: banner;
}

.banner picture {
  width: 100%;
  object-fit: cover;
}

.banner-popup {
  border: 1px solid lightgray;
  display: grid;
  width: 300px;
  right: 1rem;
  top: 1rem;
  position: absolute;
  background-color: #ffffff;
  padding: 5px;
  opacity: 0.9;
  border-radius: 8px;
  text-align: center;
  justify-items: center;
}

.banner-popup button {
  background-color: #053c55;
  color: #ffffff;
  font-size: 1.2rem;
  width: 50%;
}

.banner-popup button:hover {
  background-color: #226cb1;
  color: #ffffff;
}

.banner-popup:hover {
  font-weight: bolder;
  box-shadow: 2px 2px 2px 2px rgba(210, 210, 210, 0.438);
}

.shadow-img {
  border-radius: 8px;
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.home-section1 {
  grid-area: home-section1;
}

.home-section1-pic {
  grid-area: home-section1-pic;
  display: grid;
  align-items: center;
}

.home-section2 {
  grid-area: home-section2;
  box-sizing: border-box;
}
.home-section2-pic {
  grid-area: home-section2-pic;
  display: grid;
  align-items: center;
}

.home-section3 {
  grid-area: home-section3;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
