body {
  background-color: #d0eaff;
  color: #606060;
  font-family: "Noticia Text", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

select, button, label {
  padding: .5rem;
  border-radius: 4px;
}

header,
footer {
  color: #fff;
  padding: 1rem 0.5rem;
}

header {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 0;
  padding: 0;
}

h2 {
  color: #606060;
  background-color: #ececec;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

footer {
  height: 50px;
  background-color: #336699;
}

/* Classes */

.logo {
  width: 100%;
  background-color: #336699;
}

.page {
  max-width: 900px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

.logo {
  width: 100%;
  background-color: #606060;
}

.header-logo {
  grid-row: 1/3;
  background-color: #606060;
  padding: 1rem;
}

.header-title {
  background-color: #336699;
  color: #fff;
  padding-left: 2rem;
}

.header-nav {
  display: grid;
  background: #ececec;
  align-content: center;
  font-size: 1.2rem;
  border-bottom: solid 2px #336699;
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.main-menu > li + li {
  border-left: 2px solid #606060;
}
.main-menu li:is(:first-child) {
  border-left: 2px solid #606060;
}
.main-menu li:is(:last-child) {
  border-right: 2px solid #606060;
}

.main-menu li a {
  display: block;
  color: #606060;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.main-menu li a:hover {
 
  background-color: #606060;
  color: #ececec;
  transform: scale(1.1);
}

.main-home {
  display: grid;

}


.buy-sell-ad {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 2rem;
  border-bottom: solid 1px #ececec;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.buy-sell-desc {
  padding-top: 0;
}

.search-form{
  justify-self: center;
  background-color: #336699;
  color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
}
.search-form ul {

  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
  

}
.buy-sell-img{
  padding: 1rem;
}
.sell-img {
  width:250px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.sell-img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.sidenav{
  background-color: #ececec;
  padding: 2rem;
}
.sidenav-button {
  text-decoration: none;
  background-color: #606060;
  color: #ececec;
  font-size: 1.2em;
  list-style-type: none;
  margin-bottom: 1rem;
  border-radius: 4px;
  width: 100px;
  justify-self: center;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}
.sidenav-button:hover {
  text-align: right;
  transition: all 1s ease-out;
}

.history-sidenav{
  float: left;
  width:200px
}
.history-main{
  display: grid;
 padding-left: 1rem;
}

.history-content{
padding: 1rem;
}
.fuzzy-edge{
  width: 100%;
  border-radius: 4px;
}
.float-left, .float-right{
  margin-bottom: 1rem;
}
.float-right{
  float:right;
  margin-left: 1rem;
}

.float-left{
  float:left;
  margin-right: 1rem;

}
.color1 {
  background-color: #606060;
}

.color2 {
  background-color: #ececec;
}

.color3 {
  background-color: #800000;
}

.color4 {
  background-color: #d0eaff;
}

.color5 {
  background-color: #336699;
}

.action {
  color: #800000;
}

/** Slideshow **/

.home-slideshow {
  position: relative;
  background: #ececec;
}

.slides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #606060;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 8px 0 0 8px;
}

.prev:hover, .next:hover {
  background-color: #606060;
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #606060;
}

.forum-section{
  display: grid;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.forum-header{
  background-color: #ececec;
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;

}
.forum-body, .forum-title{
  padding: 1rem;
  border: solid 1px #606060;
  background-color: #fff;
}

.forum-title{
  margin: 0;
  background-color: #336699;
  color: #fff;
}

.forum-body{
  display: grid;
}

.forum-reply{
  width: 60px;
  justify-self: right;
  border-radius: 4px;
  background-color: #336699;
  color: #fff;
  text-align: center;
  padding: 4px;
  cursor: pointer;
}
.forum-reply:hover{
  color: #ececec;
}

.buy-sell-form{
  display: grid;

}