* {
  box-sizing: border-box;
}

body {
  background-color: #d0eaff;
  color: #606060;
  font-family: "Noticia Text", Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
}

header,
footer {
  color: #fff;
  padding: 1rem 0.5rem;
}

header {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 0;
  padding: 0;
}

h2,
.sidenav {
  color: #606060;
  background-color: #ececec;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

select,
button,
input {
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

label {
  padding: 0.5rem;
}

hr {
  border: 2px solid #606060;
  margin-bottom: 1rem;
}

footer {
  background-color: #336699;
  position: relative;
}

footer p {
  font-variant: small-caps;
}

/* Classes */

.page {
  max-width: 900px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

/*Header*/

.header-logo {
  grid-row: 1/3;
  background-color: #606060;
  padding: 1rem;
}

.logo {
  width: 100%;
  background-color: #606060;
}

.header-title {
  background-color: #336699;
  color: #fff;
  padding-left: 2rem;
  position: relative;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.header-nav {
  display: grid;
  background: #ececec;
  align-content: center;
  font-size: 1.2rem;
  border-bottom: solid 2px #336699;
}

.main-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.main-menu > li + li {
  border-left: 2px solid #606060;
}
.main-menu li:is(:first-child) {
  border-left: 2px solid #606060;
}
.main-menu li:is(:last-child) {
  border-right: 2px solid #606060;
}

.main-menu li a {
  display: block;
  color: #606060;
  text-align: center;
  border-radius: 6px;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
}

.main-menu li a:hover {
  background-color: #606060;
  color: #ececec;
  transform: scale(1.1);
  font-weight: bold;
}

.main-home {
  display: grid;
}

.login-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.login-button,
.cancelbtn,
.signupbtn,
.submitbtn {
  background-color: #fff;

  border-radius: 4px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  cursor: pointer;
}

.login-button a,
.cancelbtn a,
.signupbtn a,
.submitbtn a {
  color: #606060;
  font-weight: normal;
  text-decoration: none;
}

.login-button a:hover,
.cancelbtn a:hover,
.signupbtn a:hover,
.submitbtn a:hover {
  color: #369;
  font-weight: bold;
}

.login-button:hover,
.cancelbtn:hover,
.signupbtn:hover,
.submitbtn:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

/*Home Page*/

.slide-img {
  width: 400px;
}

/** Slideshow **/

.home-slideshow {
  position: relative;
}

.slides {
  display: none;
  padding: 80px;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #606060;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 8px 8px 0;
  user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
  background-color: #606060;
  color: white;
}

.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #606060;
}

/*History Pages*/

.sidenav {
  padding: 2rem;
  display: grid;
}
.sidenav-button {
  background-color: #606060;
  color: #ececec;
  font-size: 1.2em;
  list-style-type: none;
  margin-bottom: 1rem;
  border-radius: 4px;
  width: 100px;
  justify-self: center;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
}

.sidenav-button a, .forum-reply a{
  text-decoration: none;
  color: #fff;
}

.button-span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidenav a {
  text-decoration: none;
  color: #fff;
  justify-self: center;
}
.sidenav-button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.sidenav-button-active,
.main-menu-active {
  font-weight: bold;
}

.history-sidenav {
  float: left;
  width: 200px;
}
.history-main {
  display: grid;
  padding-left: 1rem;
}

.history-content {
  padding: 1rem;
}

/*Buy/Sell Page*/

.buy-sell-ad {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 2rem;
  border-bottom: solid 1px #ececec;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.buy-sell-desc {
  padding-top: 0;
}

.search-form {
  justify-self: center;
  background-color: #336699;
  color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
}
.search-form ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.buy-sell-img {
  padding: 1rem;
}
.sell-img {
  width: 250px;
}

.sell-img:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
}

.buy-sell-form {
  display: grid;
}

/*Forum*/

.forum-section {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.forum-header {
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
}
.forum-body,
.forum-title {
  padding: 1rem;
  border: solid 1px #606060;
  background-color: #fff;
}

.forum-title {
  margin: 0;
  background-color: #336699;
  color: #fff;
}

.forum-title::after {
  float: right;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.forum-body {
  display: grid;
}

.forum-reply {
  width: 60px;
  justify-self: right;
  border-radius: 4px;
  background-color: #336699;
  color: #fff;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  position: relative;
}

.forum-reply:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #ececec;
}

/*Sign-up Page*/

.sign-up-main,
.sign-up-submit {
  display: grid;
}

.sign-up {
  width: 400px;
  border-radius: 4px;
  background-color: #ececec;
  color: #606060;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  justify-self: center;
  margin: 1rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  margin: 5px 0 20px 0;
  display: inline-block;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #606060;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #fff;
  outline: none;
  border-radius: 4px;
}

.cancelbtn {
  grid-column: 1/2;
}

.signupbtn {
  grid-column: 2/3;
}

.cancelbtn,
.signupbtn {
  width: 70%;
  justify-self: center;
}

.sign-up-form {
  padding: 1rem;
}
.sign-up-form h3 {
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*General*/

.float-left,
.float-right {
  margin-bottom: 1rem;
}
.float-right {
  float: right;
  margin-left: 1rem;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.showminus:after {
  content: "\2212";
}

.showplus:after {
  content: "\002B";
}

.style-img {
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
